
PyCast/.spyproject/*
PyCast/dist/*
*.pyc
*.spec
build/__main__/__main__.exe.manifest
build/__main__/base_library.zip
build/*
pyinstaller.txt
dist/*
Read Me (tutorial + updates).xlsx
PyCast/~$Read Me (tutorial + updates).xlsx
